
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*color:  #ccc !important;*/
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNoBf_fr6my57WzsoWvOQpQB1rj64sq_SkTql-YF47-DaQVvioCQ");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: 100% 100%;*/
  
  
}


